.menu {
  --menu-item-color: black;
  --menu-active-color: var(--color-accent);

  position: fixed;
  z-index: 100000;
  font-size: var(--font-size-xl);
  font-weight: 100;
  padding: .5rem 0 0 var(--menu-left-margin);
  width: var(--menu-width);

  @media (max-width: 768px) {
    --menu-item-color: black;
  }
}

.menuContainerOpened {
  @media (max-width: 768px) {
    background: var(--mobile-menu-background-color);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }
}

.menuItems {
  @media (max-width: 768px) {
    width: 0;
    overflow: hidden;
  }
}

.menuOpened {
  width: 100%;
  transition: width 1s;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1.3rem;
  color: var(--menu-item-color);
}

.homeIcon {
  display: block;
  color: var(--menu-item-color);
}

.menuIcon {
  cursor: pointer;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.closeIcon {
  cursor: pointer;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.white {
  --menu-item-color: #fff;
}

.hidden {
  display: none !important;
}
