.menu {
  --menu-item-color: black;
  --menu-icons-color: var(--menu-item-color);
  --menu-active-color: var(--color-accent);
  --menu-animation-duration: 0.6s;

  position: fixed;
  z-index: 100000;
  font-size: var(--font-size-xl);
  font-weight: 100;
  padding: 0;
  width: var(--menu-width);
  transition: width var(--menu-animation-duration);

  @media (max-width: 1520px) {
    --menu-item-color: black;
    width: 0;
    height: 100vh;
    background: var(--mobile-menu-background-color);
  }
}

.menuContainerOpened {
  overflow: auto;

  @media (max-width: 1520px) {
    width: 22rem;
    max-width: 100vw;
    backdrop-filter: blur(5px);

    .icons {
      --menu-icons-color: var(--menu-item-color);

      width: 100%;
      padding-inline-end: 1rem;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }

}

.white {
  --menu-icons-color: #fff;

  @media (min-width: 1521px) {
    --menu-item-color: #fff;
  }
}

.menuItems {
  margin-inline: 1rem;
  overflow: hidden;

  @media (max-width: 1520px) {
    //display: none;
  }
}

.menuOpened {
  display: block;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
  gap: 1rem;
  padding: 1rem;
  margin-block-end: 1.3rem;
  color: var(--menu-icons-color);
  transition: width var(--menu-animation-duration);
}

.homeIcon {
  display: block;
  color: currentColor;
}

.information {
  display: block;
  font-size: var(--font-size-m);
  font-weight: 600;
  color: var(--menu-item-color);
  text-decoration: none;
  transform: translate(0, 0.5rem);
  padding-bottom: 2rem;
}

.menuIcon {
  cursor: pointer;
  display: none;

  @media (max-width: 1520px) {
    display: block;
  }
}

.closeIcon {
  cursor: pointer;
  display: none;

  @media (max-width: 1520px) {
    display: block;
  }
}

.hidden {
  display: none !important;
}
