.section {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.setupGreen {
  width: 100%;
}

.text {
  max-width: 360px;
  margin: 5rem;
  color: black;
  font-size: var(--font-size);
  text-align: left;

  & h4 {
    color: var(--color-accent);
    font-size: var(--font-size-m);
    text-align: right;
  }
}

.setupHome {
  max-width: 50%;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 1rem 2rem;
  }
}

.setup {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @media (max-width: 768px) {
    width: 100%;
    gap: 0.5rem;
  }
}

.setupImage {
  max-width: 100%;
}

.image {
  width: 100%;
  padding: 1rem 0;
}

.plan {
  width: 100%;
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}
.planM {
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 80%;
  }
}
